<div class="page-wrapper">
  <!-- BEGIN HEADER -->
  <div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
      <!-- BEGIN LOGO -->
      <div class="page-logo">
        <a routerLink="/g/home">
          <img src="../assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" />
        </a>
      </div>
      <!-- END LOGO -->
      <!-- BEGIN MEGA MENU -->
      <!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
      <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
      <div class="hor-menu   hidden-sm hidden-xs">
        <ul class="nav navbar-nav">


          <li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">
            <a routerLink="/document/insert"> Thêm
              <span class="selected"> </span>
            </a>
          </li>
          <li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">
            <a routerLink="//document/search"> Tìm kiếm
              <span class="selected"> </span>
            </a>
          </li>
          <!--<li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">-->
            <!--<a routerLink="/g/posts"> Post-->
              <!--<span class="selected"> </span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">-->
           <!--<a routerLink="/g/banner"> Banner-->
             <!--<span class="selected"> </span>-->
           <!--</a>-->
          <!--</li>-->

           <!--<li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">-->
           <!--<a routerLink="/g/register-agency"> Register Agency-->
             <!--<span class="selected"> </span>-->
           <!--</a>-->
          <!--</li>-->
          <!--<li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">-->
          <!--<a routerLink="/g/offer-price"> Offer Price-->
            <!--<span class="selected"> </span>-->
          <!--</a>-->
         <!--</li>-->
         <!--<li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">-->
         <!--<a routerLink="/g/consult-service"> Consult Service-->
          <!--<span class="selected"> </span>-->
         <!--</a>-->
       <!--</li>-->
         <!--<li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">-->
         <!--<a routerLink="/g/list-employee"> Employee-->
          <!--<span class="selected"> </span>-->
         <!--</a>-->
       <!--</li>-->
       <!--<li class="classic-menu-dropdown" aria-haspopup="true" [routerLinkActive]="['active']">-->
        <!--<a routerLink="/g/radios"> Radio-->
          <!--<span class="selected"> </span>-->
        <!--</a>-->
    <!--</li>-->
        </ul>
      </div>
      <!-- END MEGA MENU -->
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
      </a>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <!-- END TODO DROPDOWN -->
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg" />
              <span class="username username-hide-on-mobile"> {{ appId }} </span>
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a href="/login" (click)="logout()">
                  <i class="icon-key"></i> Log Out </a>
              </li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
          <!-- BEGIN QUICK SIDEBAR TOGGLER -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-quick-sidebar-toggler">
            <a href="javascript:;" class="dropdown-toggle">
              <i class="icon-logout"></i>
            </a>
          </li>
          <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
  </div>
  <!-- END HEADER -->
  <!-- BEGIN HEADER & CONTENT DIVIDER -->
  <div class="clearfix"> </div>
  <!-- END HEADER & CONTENT DIVIDER -->
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
      <!-- BEGIN CONTENT BODY -->
      <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li>
              <a href="/g/home">Home</a>
              <i class="fa fa-circle"></i>
            </li>
            <li>
              <span>Horizontal Menu</span>
            </li>
          </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <router-outlet></router-outlet>
      </div>
      <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <div class="page-footer">
    <div class="page-footer-inner"> 2018 &copy;
      <a target="_blank" href="http://gico.vn">gico.vn</a> &nbsp;
    </div>
    <div class="scroll-to-top">
      <i class="icon-arrow-up"></i>
    </div>
  </div>
  <!-- END FOOTER -->
</div>
