<div class="row">
    <div class="col-md-12">
        <!-- Begin: Demo Datatable 1 -->
        <div class="portlet light portlet-fit portlet-datatable">
            <div class="portlet-title portlet-title-action ">
               <div class="caption">
                 <i class="icon-settings font-green"></i>
                 <span class="caption-subject font-green sbold uppercase"> Danh sách lịch phát của {{radioModel.title}} . </span>
               </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle blue-steel btn-outline" (click)="onShowAddRadioSchedule()">
                        <i class="fa fa-plus"></i> Thêm lịch phát </a>
                </div>
            </div>
        </div>
        <div class="portlet-body">
           <!-- <div class="text-center text-danger">{{ msg }}</div> -->
           <div class="table-container">
                <form (ngSubmit)="searchRadioSchedule()" #searchForm="ngForm" autocomplete="off">
                    <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_ajax">
                        <thead>
                           <tr role="row" class="heading">
                                <th>
                                    STT
                                </th>
                                <!-- <th>
                                   Radio Schedule Id
                                </th> -->
                                <th>
                                    Tiêu đề
                                </th>
                                <th class="text-center">
                                    Ngày phát
                                </th>
                                <th class="text-center">
                                    Trạng thái
                                </th>
                                <th class="text-center">
                                    Hành động
                                </th>
                           </tr>
                           <tr role="row" class="filter">

                                <td>
                                   <!-- STT -->
                                </td>
                                <!-- <td> -->
                                   <!-- Radio Schedule Id -->
                                <!-- </td> -->
                                <td>
                                   <!-- Title -->
                                </td>
                                <td>
                                   <!-- Public Date -->
                                   <div class="margin-bottom-5">
                                      <my-date-picker name="fromPublishDate" [options]="configSetting.myDatePickerOptions" [locale]="'vi'" placeholder="From"
                                      (dateChanged)="searchParams.fromPublishDate = configSetting.changeDatetimeEvent($event)" required>
                                      </my-date-picker>
                                    <!-- <input type="date" class="form-control form-filter input-sm" name="fromPublishDate" placeholder="From"
                                      [ngModel]="searchParams.fromPublishDate" (ngModelChange)="searchParams.fromPublishDate = $event" #fromPublishDate="ngModel" /> -->
                                  </div>
                                  <div class="margin-bottom-5">
                                    <my-date-picker name="toPublishDate" [options]="configSetting.myDatePickerOptions" [locale]="'vi'" placeholder="To"
                                    (dateChanged)="searchParams.toPublishDate = configSetting.changeDatetimeEvent($event)" required>
                                    </my-date-picker>
                                    <!-- <input type="date" class="form-control form-filter input-sm" name="toPublishDate" placeholder="To"
                                     [ngModel]="searchParams.toPublishDate" (ngModelChange)="searchParams.toPublishDate = $event" #toPublishDate="ngModel" /> -->
                                  </div>
                                </td>
                                <td>
                                   <div>
                                      <select class="form-control form-filter input-sm" [(ngModel)]="searchParams.status" name="status" #status="ngModel">
                                          <option *ngFor="let item of statuses" [ngValue]="item.value">{{item.text}}</option>
                                      </select>
                                   </div>
                                </td>
                                <td class="text-center">
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm yellow filter-submit margin-bottom" type="submit">
                                            <i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </td>
                           </tr>
                        </thead>
                        <tbody>
                           <!-- <tr *ngFor="let service of ListService | paginate: { itemsPerPage: searchParams.pageSize, currentPage: searchParams.pageIndex, totalItems: totalRow };let last = last "> -->
                           <!-- <ng-template ngFor let-radio let-i="index" let-last="last" [ngForOf]="ListRadio | paginate: { itemsPerPage: pageSize, currentPage: pageIndex }"> -->
                              <tr *ngFor="let radio of ListRadioSchedule | paginate: { itemsPerPage: pageSize, currentPage: pageIndex }; let i = index; let last = last">

                                 <td>
                                    {{ pageSize * pageIndex + i + 1 - ( pageIndex > 0 ? pageSize : 0 ) }}
                                 </td>
                                 <!-- <td>
                                    {{ radio._id }}
                                 </td> -->
                                <td>
                                    {{radio.title}}
                                </td>
                                <td class="text-center">
                                    {{radio.publicDate | date: 'dd/MM/yyyy hh:mm aaa'}}
                                </td>
                                <td class="text-center">
                                    {{configSetting.ListStatusView[radio.status].value}}
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="btn btn-circle btn-outline green" (click)="onShowUpdateRadio(radio._id)">
                                        <i class="fa fa-pencil"></i> Sửa </a>
                                    <button type="button" class="btn btn-circle btn-outline red fa fa-remove radio_schedule_remove_bs_confirmation" data-toggle="confirmation"
                                        attr.tmpid="{{radio._id}}">
                                        <span *ngIf="last">{{onRegisterConfirmation()}}</span>
                                        Xóa
                                    </button>
                                    <!-- <button type="button" (click)="deleteService(service._id)" class="btn btn-circle btn-outline red fa fa-remove banner_remove_bs_confirmation">
                                       Remove
                                    </button> -->
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                       <pagination-controls
                            (pageChange)="pageIndex = $event"
                            previousLabel="Trước"
                            nextLabel="Sau"
                        ></pagination-controls>
                    </div>
                </form>
           </div>
        </div>
        <!-- End: Demo Datatable 1 -->
    </div>
</div>
<div class="popupDetail">
    <app-radio-schedule-add-or-change #radioScheduleAddOrChange (reloadRadioScheduleEvent)="loadListRadioSchedule()"></app-radio-schedule-add-or-change>
</div>
